@import "./variables";

// components
@import "./components/posts";
@import "./components/sidebar";
@import "./components/main";
@import "./components/header";
@import "./components/transactions";
@import "./components/sideModal";
@import "./components/appointments";

// pages
@import "./pages/dashboard";
// 3rd party
@import 'bootstrap/scss/bootstrap';
@import 'react-toastify/dist/ReactToastify.min.css';

.boxed {
    margin: 1px solid red;
}

body {
    height: 100%;
    width: 100%;
    background-color: white;
}