.book-appointment {
    background-image: url("../../images/backgrounds/book-appointment.svg");
    background-size: cover no-repeat;
    border-radius: 15px;
}

.active-allOrCompleted {
    color: $amber;
    border-bottom: 2px solid $amber;
}

.completed {
    opacity: 50%;
    pointer-events: none;
}

.zero-opacity {
    opacity: 0%;
}